<ion-view ng-controller="ChatController">
	<ion-header-bar class="bar-dark">
		<div class="title">Chatting as {{nickname}}</div>
	</ion-header-bar>

	<div class="bar bar-subheader">
		<p class="titel">{{status_message}}</p>
	</div>

	<ion-content class="has-subheader">
		<ion-list class="list">
			<li ng-repeat="msg in messages" ng-class="{'item item-avatar-right item-text-wrap nopadding': (socketId == msg.socketId) && !msg.isLog, 'item item-avatar-left item-text-wrap nopadding': (socketId != msg.socketId) && !msg.isLog, 'item item-devider noPadding noBg': msg.isLog}">
				<img ng-hide="msg.isLog" src="http://www.smartcallcentersolutions.com/images/profile_icon.png"/>
				<h2 ng-hide="msg.isLog"><b style="">{{msg.sender}}:</b></h2>
				{{msg.message}}
			</li>
		</ion-list>
	</ion-content>

	<div class="bar bar-footer item-input-inset footer-item-input-inset">
		<label class="item-input-wrapper">
			<i class="icon ion-android-chat placeholder-icon"></i>
			<input type="text" placeholder="Enter your message..." ng-model="message"/>
		</label>
		<button class="button button-dark button-clear ion-android-send icon" ng-click="sendMessage()"></button>
	</div>
</ion-view>